@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Braah+One&display=swap');
@layer components {

    html {
        font-family: 'Braah One', sans-serif;
        background: linear-gradient(#fffbd5, #b20a2c);
        height: 100%;
        width: 100%;
    }
}
